/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */



body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin:0;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}




/* STRUCTURE */


/* OTHERS */

*:focus {
    outline: none;
}

#icon {
  width:30%;
}

* {
  box-sizing: border-box;
}


.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.success{
  padding: 20px;
  background-color:#249424; /* Green */
  color: white;
  margin-bottom: 15px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
