
  <div class="container">
  <div *ngIf="products.length > 0">
    <div class="row card-group">
    <div *ngFor="let product of products" class="col-lg-4 mt-2 products">

      <div class="card " style="height: 100%;">

        <img
          [src]="product.image"
          class="card-img-top"
          alt="..."
        />

        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">
            {{product.description}}
          </p>
         <button (click)="onSelect(product)" class="btn btn-primary">Select</button>
          </div>
        </div>
      </div>

        </div>

      </div>
    </div>

