
<div class="row pt-2">
  <div class="col-lg-4 col-12 font-weight-bold">
    <a href="/homepage"> HOMEPAGE</a>
  </div>
  <div class="dropdown col-lg-4 col-12">
    <button class="dropbtn">MENU</button>
    <div class="dropdown-content">
      <a href="/createproduct">
        <i class="fa fa-plus"></i>
        CREATE PRODUCT
      </a>
      <a   (click)="Logout()">Log Out</a>

    </div>
  </div>
  <div class="col-lg-4 col-12">
    <ul class="text-right">
      <li class="d-inline-block  mr-4"><i class="fa fa-search"></i></li>
      <li class="d-inline-block  mr-4"><i class="fa fa-heart"></i></li>
      <li class="d-inline-block  mr-4"><i class="fa fa-shopping-cart"></i></li>
    </ul>
  </div>
</div>
