<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <app-client-header></app-client-header>
          </div>
        </div>
      </div>
      <app-client-slider></app-client-slider>
      <app-client-grid></app-client-grid>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <app-footer></app-footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
